

.el-table__header tr th{
  background: $colorGray6;
}

// .el-table .el-table__row td:first-child .cell {
//   padding-left: 16px !important;
// }

// .el-table__header th:first-child .cell {
//   padding-left: 16px !important;
// }

// .el-table__header th:last-child .cell {
//   padding-right: 16px !important;
// }

.el-table th {
  padding: 16px 0;

  div {
    line-height: 24px;
  }
}

.el-table-border{
  .el-table th.is-leaf,
  .el-table td {
    border-bottom: none;
  }
}


.el-table__empty-block{
  width: 100% !important;
}
